RAG (2).json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        144
      ],
      "id": "8c7958ad-4351-45ed-bcc1-91e9930077ed",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1OFaPQ5CpSoWvV1g8n1B-2LI3HrN8msgX",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1OFaPQ5CpSoWvV1g8n1B-2LI3HrN8msgX"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        144
      ],
      "id": "f1b76e18-5ac3-4fa5-b849-4ed534de11de",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "84ywUP5Xp2SphGUy",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        160
      ],
      "id": "df61e60d-b995-4f68-a5f5-dc08ed687452",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "84ywUP5Xp2SphGUy",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        608,
        128
      ],
      "id": "aa95d4fe-60d7-4945-811f-98c3ba5a2fd3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ojkrptXnwEKaPzmG",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        368
      ],
      "id": "0650ad00-c0ed-49c7-aee3-c863f32cf52e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "OIfuzDo23HJGcihE",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "File-name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "id": "97354baf-ca9f-4dcc-9933-ce6c2b5c1f7f",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        640,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "7d96ffff-798e-433c-bce4-f2b84ba91af5",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        688,
        768
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5897c341-fdeb-43a5-88dd-c9ef4bfd81f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef897556cba56b7749309500a68e7d5f5e6db94ece20a745e956d2bc9f08d032"
  },
  "id": "rWKP1lkfLs25nAmV",
  "tags": []
}